<?xml version="1.0"?>

<model>
  <name>Tom Dancing</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Jasmeet Singh</name>
    <email>jasmeet0915@gmail.com</email>
  </author>

  <description>
    An animated model of Tom Dancing.
    The model was taken from: https://sketchfab.com/3d-models/tom-multiversus-tom-and-jerry-4996154491b14356a8ebc40ab62179ab
    And the animation from Mixamo. Rigging and retargetting was done in Blender.
  </description>
</model>
